<div class="recolte">    
    <img src="/images/recolte.jpg" alt="recolte">
</div>


    <div class="recolte-etapes">
        <div class="recolte-flex">
            <img src="/images/recolte1.jpg" alt="">
            <div class="text">
                <h2>Le moment de la récolte</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro consequatur maiores tempora earum esse in placeat totam. Iure sit, eius error exercitationem nemo aperiam maiores iste, vero dolore mollitia autem.</p>
            </div>
        </div>
        <div class="recolte-flex">
            <div class="text">
                <h2>Récolte des fruits</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro consequatur maiores tempora earum esse in placeat totam. Iure sit, eius error exercitationem nemo aperiam maiores iste, vero dolore mollitia autem.</p>
            </div>
            <img src="/images/recolte2.jpg" alt="">
        </div>
        <div class="recolte-flex">
            <img src="/images/recolte3.png" alt="">
            <div class="text">
                <h2>Transport des fruits</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro consequatur maiores tempora earum esse in placeat totam. Iure sit, eius error exercitationem nemo aperiam maiores iste, vero dolore mollitia autem.</p>
            </div>
        </div>
        <div class="recolte-flex">
            <div class="text">
                <h2>Conservation des fruits</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro consequatur maiores tempora earum esse in placeat totam. Iure sit, eius error exercitationem nemo aperiam maiores iste, vero dolore mollitia autem.</p>
            </div>
            <img src="/images/recolte4.jpg" alt="">
        </div>
    </div>
