     <div >
     <img class="photo1" src="/images/stades.png" alt="stades de croissance" > 
     
      <h1 class="section-header"> DÉBUT DE LA VIE ET CROISSANCE </h1> 
     </div>


     <div class="container1">
            <div class="stade">
                <img class="img" src="/images/photo2.jpg" >
                <h2 class="stade-header">PRÉPARATION DU TERRAIN </h2>
                
                    <ul class="stade-paragraph">
                        <li>éliminer les mauvaises herbes.</li>
                        <li>labourer le sol pour améliorer le drainage.</li>
                        <li>appliquer des fertilisants pour enrichir le sol et encourager la croissance.</li>
                        <li>installer un système d'irrigation efficace.</li>
                    </ul>  
                
            </div>
            <div class="stade">
                <img class="img" src="/images/photo3.jpg" >
                <h2 class="stade-header">PLANTATION DE L’OLIVIER</h2>

                    
                        <ul class="stade-paragraph">
                            <li>soigneusement placer l'arbre dans un trou préparé avec attention.</li>
                            <li>bien tasser la terre autour des racines pour assurer leur stabilité Après la plantation.</li>
                            <li>surveiller attentivement l'irrigation et fournir des soins appropriés pour soutenir la croissance initiale de l'arbre.</li>
            
                        </ul>  

                 
            </div>
            <div  class="stade">
                <img class="img" src="/images/photo4.jpg" >
                <h2 class="stade-header">ARROSAGE ET ENTRETIEN</h2>
             
                    
                    <ul class="stade-paragraph">
                        <li>Arroser régulièrement et en profondeur, surtout pendant les périodes sèches.</li>
                        <li>Surveiller les mauvaises herbes autour des arbres.</li>
                        <li>Appliquer des fertilisants pour maintenir la santé du sol.</li>
                        <li>Favoriser une bonne nutrition des oliviers</li>
                    </ul>  
                
                
                
            </div>
            <div class="stade">
                <img class="img" src="/images/photo5.jpg" >
                <h2 class="stade-header">DÉVELOPPEMENT DES BOURGEONS ET FLEURS</h2>
              
                    <ul class="stade-paragraph">
                        <li>Commencer à se former sur les branches au début du printemps.</li>
                        <li>Progresser graduellement jusqu'à l'éclosion des fleurs blanches.</li>
                        <li>Marquer le début du processus de reproduction de l'arbre.</li>
                        <li>Dépendre des conditions météorologiques appropriées.</li>
                    </ul>  
                
               
            </div>
     </div>
     <div>
        <h1 class="section-header"> COISSANCE ET DÉVELOPPEMENT DES FRUITS</h1> 
     </div>
     <div class="container1">
        <div class="stade">
            <img class="img" src="/images/photo2.jpg" >
            <h2 class="stade-header">PRÉPARATION DU TERRAIN </h2>
            
                <ul class="stade-paragraph">
                    <li>éliminer les mauvaises herbes.</li>
                    <li>labourer le sol pour améliorer le drainage.</li>
                    <li>appliquer des fertilisants pour enrichir le sol et encourager la croissance.</li>
                    <li>installer un système d'irrigation efficace.</li>
                </ul>  
            
        </div>
        <div class="stade">
            <img class="img" src="/images/photo3.jpg" >
            <h2 class="stade-header">PLANTATION DE L’OLIVIER</h2>

                
                    <ul class="stade-paragraph">
                        <li>soigneusement placer l'arbre dans un trou préparé avec attention.</li>
                        <li>bien tasser la terre autour des racines pour assurer leur stabilité Après la plantation.</li>
                        <li>surveiller attentivement l'irrigation et fournir des soins appropriés pour soutenir la croissance initiale de l'arbre.</li>
        
                    </ul>  

             
        </div>
        <div  class="stade">
            <img class="img" src="/images/photo4.jpg" >
            <h2 class="stade-header">ARROSAGE ET ENTRETIEN</h2>
         
                
                <ul class="stade-paragraph">
                    <li>Arroser régulièrement et en profondeur, surtout pendant les périodes sèches.</li>
                    <li>Surveiller les mauvaises herbes autour des arbres.</li>
                    <li>Appliquer des fertilisants pour maintenir la santé du sol.</li>
                    <li>Favoriser une bonne nutrition des oliviers</li>
                </ul>  
            
            
            
        </div>
        <div class="stade">
            <img class="img" src="/images/photo5.jpg" >
            <h2 class="stade-header">DÉVELOPPEMENT DES BOURGEONS ET FLEURS</h2>
          
                <ul class="stade-paragraph">
                    <li>Commencer à se former sur les branches au début du printemps.</li>
                    <li>Progresser graduellement jusqu'à l'éclosion des fleurs blanches.</li>
                    <li>Marquer le début du processus de reproduction de l'arbre.</li>
                    <li>Dépendre des conditions météorologiques appropriées.</li>
                </ul>  
            
           
        </div>
 </div>





    
     



     
     
