.photo1{
    width: 100%;
    height: fit-content;
   
   
   }
   .section-header{
     font-size: 20px;
     
     font-weight:bold ;
     color: white;
     text-align: center;
     background-color: #83C8AB;
   
    }
     .container1{
       padding-top: 100px;
       display: flex;
       justify-content: space-between;
       margin: 0 auto;
       width: 87%;
       flex-wrap: wrap;
    }
    .stade {
     flex-basis: 45%;
     margin-bottom: 50px;
    }
     .img{
       width: 150px;
       height: 150px;
       border-radius: 50%;
       object-fit: cover;
       box-shadow: 0 6px 20px;color: rgba(21, 237, 9, 0.66);
   
     }
   
     .stade-paragraph{
       margin-top: 30px;
       font-size: 14px;
       color: black;
       text-align:justify;
       margin-left: 2px;
   
     }
       .stade-header{
         margin-top: 10px;
         font-size: 14px;
         color: darkgreen;
       }
   