<section class=".landing ">
    <div class="slider-container">
        <div class="slider">
          <div class="slide ">
            <img src="/images/img1.jpg" alt="Placeholder 1">
          </div>
          <div class="slide active">
            <img src="/images/img2.jpg" alt="Placeholder 2">
          </div>
          <div class="slide">
            <img src="/images/img3.jpg" alt="Placeholder 3">
          </div>
        </div>
        <div class="landing-text">
          <h1 class="landing-title">Welcome to Olea</h1>
          <p class="landing-paragraph">All you want to know about Olives</p>
        </div>
        <div class="buttons">
            <button class="btn">Sign in</button>
            <button class="btn">Sign up</button>
        </div>
      </div>
</section>
  