<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">


    <title>olea</title>
</head>
<body>
    <h1 class="text-2xl font-bold bg-red-950">This is in layout file</h1>
    <%- body %>
    <h2>Footer</h2>
</body>
</html>
