<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <link href="/navBar.css" rel="stylesheet">


    <title>olea</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <img src="/images/logo.png" alt="">
                <span>Olea</span>
            </div>
            <div class="navigation-bar">
                <ul class="links">
                    <li><a href="">Home</a></li>
                    <li><a href="">Culture</a></li>
                    <li><a href="">Growth</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <a href="" class="profile">
                    <img src="/images/profile.png" alt="profile" class="profile-image">
                </a>
            </div>
        </div>
    </nav>
    <h1 class="text-2xl font-bold bg-red-950">This is in layout file</h1>
    <main>

        <%- body %>
    </main>
    <footer>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        <p class="copy">Copyright © 2023 Olea.org. All rights reserved.</p>
    </footer>
</body>
</html>
