<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <link href="/navBar.css" rel="stylesheet">
    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="/stades.css">
    <script >

document.addEventListener("DOMContentLoaded", function() {
    const slider = document.querySelector(".slider");
    const slides = document.querySelectorAll(".slide");
    const slideCount = slides.length;
    let currentIndex = 0;
  
    // Function to move to the next slide
    function nextSlide() {
      const nextIndex = (currentIndex + 1) % slideCount;
      slides[currentIndex].classList.remove("active");
      slides[nextIndex].classList.add("active");
      currentIndex = nextIndex;
    }
  
    // Auto slide change
    function autoSlide() {
      nextSlide();
      setTimeout(autoSlide, 5000); // Change slide every 5 seconds (adjust as needed)
    }
  
    // Start auto slide change
    autoSlide();
  });
  
    </script>

    <title>olea</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <img src="/images/logo.png" alt="">
                <span>Olea</span>
            </div>
            <div class="navigation-bar">
                <div class="menu">
                    <img  src="/images/menuIcon.png" alt="">
                </div>
                <ul class="links">
                    <li><a href="">Home</a></li>
                    <li><a href="">Culture</a></li>
                    <li><a href="">Growth</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <a href="" class="profile">
                    <img src="/images/profile.png" alt="profile" class="profile-image">
                </a>
            </div>
        </div>
    </nav>

    <main>

        <%- body %>
    </main>
    <footer>
        
        <p class="copy">Copyright © 2023 Olea.org. All rights reserved.</p>
    </footer>
</body>
</html>
